
.idea/

.vs/

*.sln

AlgoP1/obj/

AlgoP1/Properties/

*.csproj

AlgoP1/Program.cs

packages/

AlgoP1/bin/

Tests/obj/

Tests/Properties/

Tests/packages.config

Tests/bin/

AlgoP1.sln.DotSettings.user

AlgoP2/obj/

Test/obj/Debug/

AlgoP2.sln.DotSettings.user

AlgoP2/bin/

Test/bin/

obj/Debug/
